<html>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/webawesome.css" />
</head>
</head>
<body>


<div class="container">
    <div class="header">
        <h1>Products</h1>
        <div class="right-menu">
            <wa-button hx-get="/products" hx-target="#content-area">Load Products</wa-button>
            <a href="/products/search" target="_blank" style="text-decoration: none;"><wa-button>Search Products</wa-button></a>
            <wa-drawer label="Drawer" without-header class="drawer-without-header">
                <form hx-post="/products" hx-target="#content-area">
                    <wa-input label="Name" name="name"></wa-input>
                    <wa-input label="Slug" name="slug"></wa-input>
                    <wa-button type="submit">Submit</wa-button>
                </form>
                <wa-button slot="footer" variant="brand" data-drawer="close">Close</wa-button>
            </wa-drawer>

            <wa-button>Add</wa-button>

            <script>
                const drawer = document.querySelector('.drawer-without-header');
                const openButton = drawer.nextElementSibling;

                openButton.addEventListener('click', () => (drawer.open = true));
            </script>
        </div>
    </div>
    <div id="content-area">
        <p>Please call "Load Products" to load the products!</p>
    </div>
</div>

<script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/webawesome.loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
</body>
</html>