<html>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/webawesome.css" />
</head>
</head>
<body>


<div class="container">
    <div class="header">
        <h1>Products</h1>
        <div class="right-menu">
            <wa-button hx-get="/products" hx-target="#content-area">Load Products</wa-button>
        </div>
    </div>
    <div id="content-area">
        <h1>Hello World!</h1>

    </div>
</div>

<script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/webawesome.loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
</body>
</html>